{% extends './layout.html' %}
{% block content %}
    Hello Vince!
    <ul>
        {% for department in departments %}
            <li
                {% if department.hasMultipleUsers() %}
                    style='color: green'
                {% else %}
                    style='color: red'
                {% endif %}
                >
                {{ department.name }} :
                {{ department.hasMultipleUsers() }}
            </li>
        {% endfor %} 
        </ul>   
{% endblock %}