{% extends './layout.html' %}
{% block content %}
    <h2 class= 'title'>Acme Users & Departments Sequelize</h2>
    <div class='row'>
        <div class='col-sm-6'>
            <div class = 'well formMargin'>
                <form action='/departments' method='POST'>
                    <label for="dept_name">Department Name:</label>
                    <input name='name' type='text' id='deptName' style='width: 270px;' placeholder='add a new dept...'>
                    <button class='btn btn-default btn-primary' aria-label='Left Align'>
                        <span class='glyphicon glyphicon-hand-up' aria-hidden='true'></span>
                        Add
                    </button>
                </form>
            </div>
            <h3 class='columnHead'>Departments</h3>
        </div>
        <div class='col-sm-6'>
            <div class = 'well formMargin'>
                <form action='/users' method='POST'>
                    <label for="user_name">User Name:</label>
                    <input name='name' type='text' id='userName' style='width: 270px;' placeholder='add a new user...'>
                    <button class='btn btn-default btn-primary' aria-label='Left Align'>
                        <span class='glyphicon glyphicon-hand-up' aria-hidden='true'></span>
                        Add
                    </button>
                </form>
            </div>
            <h3 class='columnHead'>Users</h3>
        </div>
    </div>
    
    
    
    
    <ul>
        {% for department in departments %}
            <li
                {% if department.hasMultipleUsers() %}
                    style='color: green'
                {% else %}
                    style='color: red'
                {% endif %}
                >
                {{ department.name }} :
                {{ department.hasMultipleUsers() }}
            </li>
        {% endfor %} 
        </ul>   
{% endblock %}